<template>
  <div class="hello">
    <h3 v-if="todos.length">Список заметок</h3>
    <NoTodosPlug v-else/>
    <ul>
      <TodoItem
          v-for="todo of todos"
          v-bind:key="todo.id"
          v-bind:todo="todo"
          v-on:delete-todo="deleteTodo"
          v-on:select-todo="selectTodo"
          v-on:add-todo="addTodo"
      />
    </ul>
  </div>
</template>

<script>
import {defineComponent} from "vue";
import TodoItem from "@/primitivies/TodoItem/TodoItem.vue";
import NoTodosPlug from "@/components/NoTodosPlug/NoTodosPlug.vue";

export default defineComponent({
  name: "TodoList",
  props: {
    todos: [],
  },
  components: {
    NoTodosPlug,
    TodoItem,
  },
  methods: {
    deleteTodo(id) {
      this.$emit('delete-todo', id)
    },
    selectTodo(id) {
      this.$emit('select-todo', id)
    },
    addTodo(newTodo) {
      this.$emit('add-todo', newTodo)
    },
  }
});
</script>

<style lang="scss" scoped>
ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}
</style>
