<template>
  <div class="todo-item">
    <div class="todo-item__controls">
      <input type="checkbox"
             v-bind:checked='!todo.completed'
             v-bind:class="{'done-button': todo.completed}"
             v-on:change="selectTodo"
      />
      <button class='delete-button' v-on:click="$emit('delete-todo', todo.id)">
        &times;
      </button>
    </div>
    <div class="todo-item__main">
      <p v-bind:class="{'done-text': todo.completed}">
        {{ todo.title }}
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "TodoItem",
  props: {
    todo: {}
  },
  methods: {
    deleteTodo() {
      this.$emit('delete-todo', this.todo.id)
    },
    selectTodo() {
      this.$emit('select-todo', this.todo.id)
    },
    addTodo(newTodo) {
      this.$emit('add-todo', newTodo)
    },
  }
}
</script>

<style lang="scss" scoped>
.todo-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: #DDE0E5;
  margin-bottom: 1rem;
  padding: 4px;
  border-radius: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16), 0 1px 4px rgba(0, 0, 0, 0.23);
  align-items: center;

  .todo-item__main {
    width: 95%;

    p {
      width: 100%;
    }
  }

  .todo-item__sub {
    width: 95%;
    text-align: left;
    background-color: #fff;
    margin-bottom: 1rem;
    padding: 4px;
    border-radius: 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16), 0 1px 4px rgba(0, 0, 0, 0.23);

    li {
      margin: 15px 15px 10px 0;
    }
  }

  .todo-item__controls {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 6px 2rem -2rem 0;
    width: 100%;


    a {
      color: grey;
      font-size: 24px;
      margin: -8px 4px 0 8px;
    }

    input {
      transform: scale(1.3);
    }
  }

  .done-text {
    text-decoration: line-through;
    color: gray;
  }

  .done-button {
    visibility: hidden;
  }
}
</style>

