<template>
  <div class='todo-list'>
    <AddTodo @add-todo="addTodo"/>
    <TodoList
        v-bind:todos='todos'
        v-on:delete-todo="deleteTodo"
        v-on:select-todo="selectTodo"
        v-on:add-todo="addTodo"
    />
  </div>
</template>

<script>
import {defineComponent} from 'vue';
import TodoList from "../components/TodoList/TodoList.vue";

export default defineComponent({
  name: "Home",
  props: {
    todos: [],
  },
  components: {
    TodoList,
  },
  methods: {
    deleteTodo(id) {
      this.$emit('delete-todo', id)
    },
    selectTodo(id) {
      this.$emit('select-todo', id)
    },
    addTodo(newTodo) {
      this.$emit('add-todo', newTodo)
    },
  }
});
</script>
