<template>
  <div class="header">
    <h1>
      Чеклист для заметок
    </h1>
    <form class="new-task-form" @submit.prevent="addTodo">
      <input v-model="title" class="input-el" type="text"/>
      <button type="submit">&plus;</button>
    </form>
  </div>
</template>

<script>

export default {
  name: 'Header',
  data() {
    return {
      title: ''
    }
  },
  methods: {

    addTodo() {
      this.$emit('add-todo', this.title)
      this.title = ''
    },
  }
}
</script>

<style lang="scss">
.new-task-form {
  display: flex;
  align-content: center;
  width: 100%;
  margin-bottom: 1rem;

  button {
    margin-left: 1rem;
    border-radius: 50%;
    height: 3.1rem;
    width: 3.5rem;
    border: none;
    font-size: 42px;
    color: grey;
    cursor: pointer;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16), 0 1px 4px rgba(0, 0, 0, 0.23);
  }
}
</style>
