<template>
  <div>
    <h3>У вас больше нет заметок</h3>
    <img src="https://cdn130.picsart.com/300234855209211.png?r240x240"/>
  </div>
</template>

<script lang="ts">
import {defineComponent} from "vue";

export default defineComponent({
  name: "NoTodosPlug"
});
</script>

<style lang="scss" scoped>
div {
  width: 100%;
  text-align: center;
}
</style>
