<template>
  <Header v-on:add-todo="addTodo"
  />
  <div class="app__container">
    <router-view v-bind:todos='todos'
                 v-on:delete-todo="deleteTodo"
                 v-on:select-todo="selectTodo"
                 v-on:add-todo="addTodo"
    />
  </div>
</template>

<script>

import Header from "./components/Header/Header";

export default {
  name: 'app',
  components: {Header},
  data() {
    return {
      todos: [
        {
          id: Date.now() + Math.random(),
          title: 'Команды обновления, показанные выше, только для глобально установленного пакета Vue CLI. Вы думаете, что это очередное скучное письмо с кучей рекламы? А вот и нет! Не будет такого! Для задания Практическое задание в курсе Обучение Frontend разработчика',
          completed: true,
        },
        {
          id: Date.now() + Math.random(),
          title: 'Перевод прикола без прикола(',
          completed: false,
        },
        {
          id: Date.now() + Math.random(),
          title: 'Этот ваш геншин импакт я импакт инфаркт',
          completed: false,
        }
      ]
    }
  },
  methods: {
    deleteTodo(id) {
      this.todos = this.todos.filter(todo => todo.id !== id)
    },
    selectTodo(id) {
      this.todos = this.todos.map(todo => (
          todo.id === id ? Object.assign({}, todo, {completed: !todo.complete}) : todo
      ))
    },
    addTodo(newTodoTitle) {
      const newTodo = {
        id: Date().valueOf() + Math.random(),
        title: newTodoTitle,
        completed: false,
        subTodos: [],
      }

      this.todos.unshift(newTodo)
    },
  }
}
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400&display=swap');

body {
  background: url("https://a-static.besthdwallpaper.com/ganyu-with-qiqi-genshin-impact-anime-komp-yuternaya-igra-oboi-2560x1440-72700_51.jpg");
  width: 100%;
  overflow-x: hidden;


  p, h1, h2, h3, input, li {
    font-family: 'El Messiri', cursive;
  }

  p, a, span, li {
    font-size: 20px;
    text-decoration: none;
  }

  h3 {
    font-size: 24px;
  }

  h2 {
    font-size: 28px;
  }

  h1 {
    font-size: 36px;
  }

  a {
    font-weight: bold;
    font-size: 18px;
    color: #7E5F4C;

    &.router-link-exact-active {
      color: #7E5F4C;
    }
  }


}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.input-el {
  width: 96%;
  border-radius: 20px;
  height: 3rem;
  border: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16), 0 1px 4px rgba(0, 0, 0, 0.23);
  padding-left: 2rem;
  font-size: 20px;
}

.header,
.app__container {
  background-color: #fff;
  max-width: 70rem;
  min-width: 350px;
  border-radius: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.app__container {
  margin: 0 10% 10% 10%;
  padding: 2rem;
}

.delete-button {
  background-color: transparent;
  border: none;
  font-size: 40px;
  color: grey;
  cursor: pointer;
  margin-top: -12px;
}

.header {
  padding: 1px 2rem;
  margin: 10% 10% 2rem 10%;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;

  h1 {
    text-align: center;
  }

  .new-task-input {
    display: flex;
    align-content: center;
    width: 100%;

    input {
      width: 100%;
      border-radius: 20px;
      height: 3rem;
      border: none;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16), 0 1px 4px rgba(0, 0, 0, 0.23);
      margin-bottom: 1rem;
      padding-left: 2rem;
      font-size: 20px;
    }

    button {
      margin-left: 1rem;
      border-radius: 50%;
      height: 3.5rem;
      width: 3.5rem;
      border: none;
      font-size: 42px;
      color: grey;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16), 0 1px 4px rgba(0, 0, 0, 0.23);
    }
  }
}


#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
